body{
	margin: 0px;
}
.main{
	height: 900px;
	background-image: url("../images/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 1000px){
	#container{
	height: 700px;
	width: 1000px;
	margin: 0 auto;
	}
}
.header{
	margin-top: 0px;
	margin-left: 5px;
	width: 100%;
}
.logo{
	float: left;
	margin-top: 10px
}
nav{
	margin-top: 26px;
	float: right;
}
.navbar{
	color: white;
	font-size: 30px;
	margin-left: 25px;
	text-decoration: none;
}
.navbar:hover{
	text-decoration: underline;
	color: blue;
}
span{
	width: 100%
}
h1{
	font-size: 80px;
	color: white;
	text-align: center;
	clear: both;
	margin: 0 auto;
	padding-top: 200px;
}
h2{
	font-size: 36px;
	color: white;
	text-align: center;
	clear: both;
	margin: 0 auto;
	padding-top: 200px;
}